@page
@model HotelCheckIn.Web.Pages.Guests.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Guest.Name" class="control-label"></label>
                <input asp-for="Guest.Name" class="form-control" />
                <span asp-validation-for="Guest.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Surname" class="control-label"></label>
                <input asp-for="Guest.Surname" class="form-control" />
                <span asp-validation-for="Guest.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.PersonalId" class="control-label"></label>
                <input asp-for="Guest.PersonalId" class="form-control" />
                <span asp-validation-for="Guest.PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.CheckIn" class="control-label"></label>
                <input asp-for="Guest.CheckIn" class="form-control" />
                <span asp-validation-for="Guest.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.CheckOut" class="control-label"></label>
                <input asp-for="Guest.CheckOut" class="form-control" />
                <span asp-validation-for="Guest.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
